<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head runat="server"><meta http-equiv="Content-Type" content="text/html; charset=GBK">

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">

    <title>2022最新孕妇胎儿性别测试</title>
    <link href="static/maleTest/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/maleTest/css/style.css">
    <link href="static/maleTest/css/jquery.mmenu.all.css" rel="stylesheet">
    <style type="text/css">
        body{background:#111302  top center no-repeat !important;background-size:100% auto !important}body .avatar .img-circle{background:#347433 !important}body form .btn{background:#347433 !important;border-color:#347433 !important}#header h1,#header p{background:none !important}
    </style>
    <script type="text/javascript" src="static/maleTest/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/maleTest/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/maleTest/js/jquery.hammer.min.js"></script>
    <script type="text/javascript" src="static/maleTest/js/jquery.mmenu.min.all.js"></script>
    <script src="static/maleTest/js/wxm-core.js"></script>
</head>
<body id="test1" class="test1">
<div id="content">
    <div id="header_bar">
    </div>
    <!-- E header_bar -->


    <div class="container">
        <div id="header" class="text-center">
            <div style="height: 65px;"></div>

            <div class="container">
                <div class="text-center header">
                    <h1 class="bold">
                        2022最新孕妇胎儿性别测试</h1>
                    <p>

                        <span style="padding:4px;background-color: #000;">已有<font color="#FFCC00"><?php echo $num;?></font>人参与测试</span>
                    </p></div>
                <!-- E header -->
                <div id="bd" class="panel">
                    <div id="panel1" class="panel-body">
                        <form action="https://www.17sucai.com/preview/102077/2014-11-04/fangyan/index.html#">
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    至从知道自己怀孕后，就想知道自己肚子里的宝宝是男孩还是女孩，虽然现在很多年轻的父母已经没有重男亲女的思想，但是对未知的总是感到好奇，所以赶快来测试下吧😊😊</dd>
                            </dl>
                            <div class="buttons">
                                <a href="index.php?r=Male/index#result" class="btn btn-lg btn-success" style="width: 100%" onclick="return next(0);">
                                    <strong style="color:#fdfd88;">开始测试</strong></a>
                            </div>
                            <div class="buttons" style="margin-top: 10px;">
                                <a href="#" id="weixin" class="btn btn-lg btn-danger" style="width: 100%;
                            background: #0e6796; border-color: #0e6796;">微信关注--爱喜测</a>
                            </div>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;"><img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl><dd>1.肚脐以上的妊娠线位置</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.偏左侧 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.偏右侧 </li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    2.孕囊形状？</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.椭圆形 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.比较圆或很圆</li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    3.准妈妈尿检早期和后期栓碱性</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.6.5以上 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.以下</li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    4.早孕期间(也就是怀孕最初的3个月)，孕吐状况
                                </dd>
                            </dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.没有或者很少孕吐</li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.经常孕吐</li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    5.孕妈肚脐突出?</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    A.是 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    B.否 </li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    6.宝宝胎心
                                </dd>
                            </dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.强 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.弱  </li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    7.皮肤变得粗糙，甚至脸上长满青春痘?
                                </dd>
                            </dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.是 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.否 </li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    8.乳晕会变得很黑?</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.是 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.否 </li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    9.爱吃“酸”的?</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.是  </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.否 </li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    10.孕妇走路比较轻盈？</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.是 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.否</li>
                            </ul>
                        </form>
                    </div>
                    <!-- E panel-body -->
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    11.经常梦见蛇的？”<br>
                                    <ul class="list-group  js_group">
                                        <li class="list-group-item" onclick="return toggle(this);">
                                            <input name="g" type="radio" class="" value="nn_5">
                                            A.是 </li>
                                        <li class="list-group-item" onclick="return toggle(this);">
                                            <input name="g" type="radio" class="" value="nv_5">
                                            B.否 </li>
                                    </ul>
                                </dd>
                            </dl></form></div>
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    12.爱吃肉、怕油烟味？</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.是 </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.否 </li>
                            </ul>
                        </form>
                    </div>
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    13.B超单</dd></dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.长和宽数据相差不大  </li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.长和宽数据相差大 </li>
                            </ul>
                        </form>
                    </div>
                    <div id="panel2" class="panel-body js_answer" style="display: none;">
                        <form action="index.html#" method="POST">
                            <a name="result" href="javascript:void(0)"></a>
                            <div class="form-group avatar text-center">
                                <label for="" class="sr-only">
                                    前言</label>
                                <a href="javascript:void(0)" class="img-circle" name="1"><span style="float: left;
                            text-align: center; width: 100%; padding-top: 18px;">
                            <img src="static/maleTest/images/ks.jpg"></span> </a>
                            </div>
                            <dl>
                                <dd>
                                    14.孕期爱动?
                                </dd>
                            </dl>
                            <ul class="list-group  js_group">
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nn_5">
                                    A.是</li>
                                <li class="list-group-item" onclick="return toggle(this);">
                                    <input name="g" type="radio" class="" value="nv_5">
                                    B.否 </li>
                            </ul>
                        </form>
                    </div>

                    <div id="panel3" class="panel-body js_result" data-id="5" style="display: none;">
                        <h1 class="bold text-danger">
                            哇塞，根据预测结果您怀的是男宝宝✌！</h1>
                        <hr>
                        <dl>
                            <dt>孕期营养食谱:</dt>
                            <dd>
                                <p>1、山药香菇炖鸡汤</p>
                                <p>功效：山药香菇炖鸡能够很好地消除孕期的疲惫，并且鸡肉中的蛋白质能够很容易被人体消化吸收。</p>
                                <p>2、清蒸鲈鱼</p>
                                <p>功效：功效：清蒸鲈鱼可以补中安胎，对于脾虚导致的胎动不安有一定的改善效果。</p>
                                <p>3、芹菜炒香干</p>
                                <p>功效：芹菜炒香干中有丰富的微量元素、维生素和蛋白质等，并且经常吃芹菜对于小儿软骨病有一定的预防作用。</p>
                                <p>结语</p>
                                <p>孕期营养食谱有很多，孕妇在饮食方面要做到营养均衡，并且不能够用补品来代替正常的饮食。除此之外，在日常生活中孕妇也要多吃新鲜的蔬菜水果。</p>
                            </dd>
                        </dl>
                        <div class="buttons">
                            <a href="javascript:void(0)" class="btn btn-lg btn-success" style="width: 100%" onclick="$(&#39;#mcover&#39;).show()">
                                邀请小伙伴一起玩</a>
                        </div>
                    </div>
                    <div id="panel3" class="panel-body js_result" data-id="6" style="display: none;">
                        <h1 class="bold text-danger">
                            哇塞，根据预测结果您怀的是女宝宝✌！</h1>
                        <hr>
                        <dl>
                            <dt>孕期营养食谱:</dt>
                            <dd>
                                <p>1、山药香菇炖鸡汤</p>
                                <p>功效：山药香菇炖鸡能够很好地消除孕期的疲惫，并且鸡肉中的蛋白质能够很容易被人体消化吸收。</p>
                                <p>2、清蒸鲈鱼</p>
                                <p>功效：功效：清蒸鲈鱼可以补中安胎，对于脾虚导致的胎动不安有一定的改善效果。</p>
                                <p>3、芹菜炒香干</p>
                                <p>功效：芹菜炒香干中有丰富的微量元素、维生素和蛋白质等，并且经常吃芹菜对于小儿软骨病有一定的预防作用。</p>
                                <p>结语</p>
                                <p>孕期营养食谱有很多，孕妇在饮食方面要做到营养均衡，并且不能够用补品来代替正常的饮食。除此之外，在日常生活中孕妇也要多吃新鲜的蔬菜水果。</p>
                            </dd>
                        </dl>
                        <div class="buttons">
                            <a href="javascript:void(0)" class="btn btn-lg btn-success" style="width: 100%" onclick="$(&#39;#mcover&#39;).show()">
                                邀请小伙伴一起玩</a>
                        </div>
                    </div>
                    <!-- E bd -->
                </div>
                <!-- E container -->
                <input type="hidden" name="totalsc" id="totalsc" value="0">
                <script type="text/javascript">
                    var total = 14;//总共多少个问题
                    var tScore = 0;//男孩得分
                    var vScore=0;//女孩得分
                    var dataForWeixin={
                        img:    "http://game2.id87.com/games/fangyan/20140725ywh1200.jpg",
                        url:    "http://game2.id87.com/games/fangyan/index.html",
                        title:  "我在2014年最难新疆话专业八级考试中得了 ",
                        desc:   "2014年新疆话专业八级考试",
                    };
                    function next(t){
                        $("div#bd > div.panel-body").hide();
                        $("div.js_answer").eq(t).show();
                        $("div.js_answer").eq(t).children("input").attr("checked","");
                        gotoTop();
                    }
                    function result(t,v){
                        console.log(t);
                        console.log(v);
                        share_pop("open",10000);
                        $("div#bd > div.panel-body").hide();
                        if(t>v){
                            $("div.js_result").eq(0).show();
                            $("div.js_result").eq(0).find(".resultscore").eq(0).html($("#totalsc").val());
                            gotoTop();
                        }else{
                            $("div.js_result").eq(1).show();
                            $("div.js_result").eq(1).find(".resultscore").eq(0).html($("#totalsc").val());
                            gotoTop();
                        }
                    }
                    function toggle(t){
                        $(t).children("input").attr("checked","checked");
                        $("li.list-group-item").removeClass('active')
                        var score = $(t).children("input:checked").val();
                        var scoreList= score.split("_");
                        score=scoreList[1];
                        if(scoreList[0]=="nn"){
                            tScore  = parseInt(tScore) + parseInt(score);
                        }else{
                            vScore  = parseInt(vScore) + parseInt(score);
                        }
                        $(t).addClass('active');
                        var t = $("div.js_answer").index($(t).parents("div.js_answer")) + 1;
                        if(t == total){
                            result(tScore,vScore);
                        }else{
                            setTimeout(function(){next(t);},500);
                        }
                    }
                    function gotoTop(){
                        $("body,html").animate({scrollTop:($("#header").offset().top + $("#header").height())}, 1000);
                    }
                </script>
            </div>
            <script type="text/javascript">
                $(function() {
                    $("input[name='g']").change(function(){
                        $("li.list-group-item").removeClass('active')
                        $(this).parent("li.list-group-item").addClass('active');
                    });
                    $('nav#menu-left').mmenu({ dragOpen: true });
                    $("nav#menu-right").show();
                    var $menu = $('nav#menu-right');
                    $menu.mmenu({
                        position: 'right',
                        classes: 'mm-light',
                        dragOpen: true
                    });
                    $("div.btn-group > a").click(function() {
                        $("div.btn-group > a").removeClass("current");
                        $(this).addClass("current");
                        $("ul.js-right").hide();
                        $("ul.js-right").eq($("div.btn-group > a").index(this)).show();
                    });
                });
            </script>

            <div id="mcover" onclick="document.getElementById(&#39;mcover&#39;).style.display=&#39;&#39;;" style="display: none;"></div>
            <script type="text/javascript">
                function report(link, action_type){
                    var parse_link = parseUrl(link);
                    if(parse_link == null){ return; }
                    var query_obj = parseParams( parse_link['query_str'] );
                    query_obj['action_type'] = action_type;
                    query_obj['action_link'] = 'http://game2.id87.com/games/fangyan/index.html';
                    var report_url = 'report.php?' + jQuery.param( query_obj );
                    $.ajax({ url: report_url, type: 'POST', timeout: 2000})
                }
                function share_scene(link, scene_type){
                    var parse_link = parseUrl(link);
                    if(parse_link == null){	  return link;	}
                    var query_obj = parseParams( parse_link['query_str'] );
                    query_obj['scene'] = scene_type;
                    var share_url = 'http://' + parse_link['domain'] + parse_link['path'] + '?' + jQuery.param( query_obj ) + (parse_link['sharp'] ? parse_link['sharp'] : '');
                    return share_url;
                }
                function recordscore(t){
                    var record_url = 'record.php?t=' + t;
                    $.ajax({ url: record_url, type: 'POST', timeout: 2000})
                }
                $(function(){
                    var onBridgeReady=function(){
                        WeixinJSBridge.on('menu:share:appmessage', function(argv){
                            WeixinJSBridge.invoke('sendAppMessage',{
                                "appid":        '',
                                "img_url":      dataForWeixin.img,
                                "img_width":    "120",
                                "img_height":   "120",
                                "link":             dataForWeixin.url,
                                "desc":             dataForWeixin.desc,
                                "title":            dataForWeixin.title+$("#totalsc").val()+" 分 你能超过我吗？ "+dataForWeixin.desc
                            }, function(res){
                                report(dataForWeixin.url, 1);
                                //recordscore($("#totalsc").val());
                                shareSuccess();
                            });
                        });
                        WeixinJSBridge.on('menu:share:timeline', function(argv){
                            report(dataForWeixin.url, 2);
                            //recordscore($("#totalsc").val());
                            WeixinJSBridge.invoke('shareTimeline',{
                                "img_url":dataForWeixin.img,
                                "img_width":"120",
                                "img_height":"120",
                                "link":dataForWeixin.url,
                                "desc":dataForWeixin.desc,
                                "title":dataForWeixin.title+$("#totalsc").val()+" 分 你能超过我吗？ "+dataForWeixin.desc
                            }, function(res){
                                shareSuccess();
                            });
                        });
                        WeixinJSBridge.on('menu:share:weibo', function(argv){
                            WeixinJSBridge.invoke('shareWeibo',{
                                "content":dataForWeixin.title+$("#totalsc").val()+" 分 你能超过我吗？ "+dataForWeixin.desc+' '+dataForWeixin.url,
                                "url":dataForWeixin.url
                            }, function(res){
                                report(dataForWeixin.url, 3);
                                //recordscore($("#totalsc").val());
                                shareSuccess();
                            });
                        });
                    };
                    if(document.addEventListener){
                        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                            WeixinJSBridge.call('showOptionMenu');
                        });
                        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                    }else if(document.attachEvent){
                        document.attachEvent('WeixinJSBridgeReady'   , onBridgeReady);
                        document.attachEvent('onWeixinJSBridgeReady' , onBridgeReady);
                    }
                });
            </script>

            <div id="pop_success" class="text-center" style="display: none;">
                <div class="bd text-center">
                    <p style="line-height: 110px;">
                        分享成功</p>
                </div>
                <!-- E bd -->
            </div>
            <!-- E pop_success -->
            <div id="popup-1" class="tip" style="display: none;">
                <div>
                    <a id="close1" href="javascript:void(0)"><i class="glyphicon glyphicon-remove"></i>
                    </a>
                    <div class="row text-center">
                        <a href="http://mp.weixin.qq.com/s?__biz=MjM5ODMzMjk5Nw==&amp;mid=200442232&amp;idx=1&amp;sn=bb981cf0ec10bc9bf28f24179744f511&amp;from=singlemessage&amp;isappinstalled=0#rd" class="btn btn-danger col-sm-12 btn-lg" id="weixinfollowlink">微信关注：新疆微电影</a>
                    </div>
                    <!-- E discuss -->
                </div>
            </div>
            <!-- E tip -->
            <div id="follow" class="well" style="display: none;">
                <a id="close1" href="javascript:void(0)">X</a>
                <div class="row text-center">
                    <a href="#" class="btn btn-danger col-sm-12 btn-lg" id="weixinfollowlink1">趣味测试（微信号:aixice2022）</a>
                </div>
                <!-- E row -->
            </div>

            <script>
                $(function() {
                    $("a#close1").click(function() {
                        share_pop("close", 0);
                    });
                    if(navigator.userAgent.indexOf("MicroMessenger") == -1){
                        $("#weixinfollowlink").attr("href","http://mp.weixin.qq.com/s?__biz=MjM5ODMzMjk5Nw==&mid=200442232&idx=1&sn=bb981cf0ec10bc9bf28f24179744f511&from=singlemessage&isappinstalled=0#rd");
                        $("#weixinfollowlink1").attr("href","http://mp.weixin.qq.com/s?__biz=MjM5ODMzMjk5Nw==&mid=200442232&idx=1&sn=bb981cf0ec10bc9bf28f24179744f511&from=singlemessage&isappinstalled=0#rd");
                        $("#weixinfollowlink2").attr("href","http://mp.weixin.qq.com/s?__biz=MjM5ODMzMjk5Nw==&mid=200442232&idx=1&sn=bb981cf0ec10bc9bf28f24179744f511&from=singlemessage&isappinstalled=0#rd");
                        $("#weixinfollowlink3").attr("href","http://mp.weixin.qq.com/s?__biz=MjM5ODMzMjk5Nw==&mid=200442232&idx=1&sn=bb981cf0ec10bc9bf28f24179744f511&from=singlemessage&isappinstalled=0#rd");
                    }
                });
                function shareSuccess() {
                    share_pop("open", 0);
                    $("div#pop_success").show().delay(1500).fadeOut("slow");
                }
                function share_pop(t, time) {
                    if (t == "open") {
                        setTimeout('showShare()', 15000);
                    } else {
                        $('#follow').hide();
                    }
                }
                function showShare() {
                    $('#follow').show();
                }
            </script>

            <div id="copy">
                <p class="text-center">
                    <a href="#" id="weixinfol" style="color: #F00; font-weight: bold;font-size: 15px;">&#169; 趣味测试（微信号:aixice2022）</a>
                </p>
            </div>
            <!-- E copy -->
            <div id="share_tips" class="sr-only">
                <div class="container text-right">
                    点击右上角，分享给朋友/朋友圈 <i class="glyphicon glyphicon-hand-up element-animation"></i>
                </div>
                <!-- E container -->
            </div>

        </div></div></div></body></html>